{% extends "posts_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}
  <title>고투게더 | 비밀번호 초기화</title>
{% endblock title %}

{% block content %}
<main class="cp-box account-password">
  <div class="title">
    <h1 class="heading">비밀번호 찾기</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    <div>
      {{ form.email|add_class:"cp-input"|attr:"placehorder:가입시 등록하신 이메일을 입력해주세요"|add_error_class:"error" }}
      {% for error in form.email.errors %}
        <div class="error-mesage">{{ error }}</div>
      {% endfor %}
      <p class="phone">이메일을 등록하지 않았거나 인증하지 않으셨으면, nightskyshop1023@naver.com에 탈퇴연락주세요</p>
    </div>
    <button class="cp-button account-button" type="submit">이메일 보내기</button>
  </form>
</main>
{% endblock content %}
